.app{
  display: flex;
  justify-content: space-evenly;
}
.app_left{
  flex: 90%;
  margin: 30px;
}
.app_right{
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}
.app_header > h1{
  color: rgb(175, 35, 35);
}
.app_cardHead{
  margin-top: 50px;
}
.app_dropdown{
  background-color: white;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}

body{
  background-color: #f5f6fa;
  
}

@media (max-width: 990px ){
  .app{
    flex-direction: column;
  }
}